body {font-family: "Lato", sans-serif;
color:black;
background:pink;}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #de1010;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ede9e9;
  display: block;
}

.sidebar a:hover {
  color: #222020;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.cont1{
    height:250px;
    width:150px;
    align-items: center;
    border-color:#0d0d0d;
}
.btn1{
    background:#ea0606;
    color:#ede9e9;
    padding:20px;
    border-radius:30px;
    font-size:20px;
}
.btn2{
     background:#ea0606;
    color:#ede9e9;
    padding:20px;
    border-radius:30px;
    font-size:20px;
}
.form1{
    background:blue;
    color:white;
    border-color:black;
    border-radius:50px;
    width:700px;
    height:800px;
    padding:50px;
}
.contai2{
    width:400px;
    height:70px;
    border-radius:40px;
}
.contai3{
    width:600px;
    height:300px;
    border-radius:40px;
}
.btn3{
    background:#f78d8d;
    color:#ede9e9;
    padding:40px;
    border-radius:40px;
    font-size:30px;
}